---
layout: page
---
<div id="tunelist"></div>
Type: {{ page.rhythm }}, added
<time datetime="{{ page.date | date_to_xmlschema }}" setTuneprop="datePublished">{{ page.date | date: "%-d %B %Y" }}</time>
<br />Played in: {{ page.location }}
{% if page.notes %}
<p>Notes: {{ page.notes }}</p>
{% endif %}
<br />

<!-- Area to store ABC -->
<textarea id="textAreaABC" class="abcSource">
X: 1
</textarea>

<div id="abcPaper" class="abcPaper"></div>
<div id="abcAudio"></div>

<script>
var abcSource = '';
var regex = new RegExp('X:.*\n');
</script>

{% assign tuneId = 1 %}
{% for setTune in page.tunes %}
{% assign siteTunes = site.tunes | where: 'titleID', setTune %}
{% for tune in siteTunes %}
<script>
abcSource = {{ tune.abc | jsonify }};
abcSource = abcSource.replace(regex, '');
document.getElementById('textAreaABC').innerHTML += abcSource;
</script>
{% assign tuneId = tuneId | plus: 1 %}
{% endfor %}
{% endfor %}

<script>
let abcEditor = null;

document.addEventListener("DOMContentLoaded", function (event) {
    abcEditor = new window.ABCJS.Editor("textAreaABC", {
        paper_id: "abcPaper", 
        warnings_id:"abcWarnings", 
        render_options: {responsive: 'resize'}, 
        indicate_changed: "true", 
        synth: { el: "#abcAudio", options: {
                displayLoop: false,
                displayRestart: true,
                displayPlay: true,
                displayProgress: true,
                displayWarp: true,
            }
        }
    });
});
</script>
