---
layout: page
---
Musician: {{ page.musician }}
<br />
Page: {{ page.page }}

<div class="outputABC">
    {% if page.abc contains "K:" %}
    <div id="paper0" style="display: block;"></div>
    <!--<h2>Play the ABC version</h2>-->
    <div style="overflow-x:auto;">
    <div id="ABCplayer"></div>
    </div>
    <form>
        <input type="button" class="filterButton" value="Show ABC Source" onclick="toggleABC(this);">
    </form>
    <div id='abcSource' class="abcSource">
        <textarea id="textAreaABC" class="abcText" rows="16" spellcheck="false"></textarea>
        <p>You can edit the ABC source, and see your changes. This will <b>NOT</b> 
            change the website directly. A brief set of instructions is found 
            <a href="/editingABC/">here.</a></p>
        <span title="Download the ABC you've entered. Don't lose your work!">
       	<input value='Download ABC' type='button' class="filterButton"
            onclick='downloadFile(document.getElementById("filename").value, 
                     document.getElementById("textAreaABC1").value)' />
        </span>
    </div>
    
    <!-- Area to store filename for download -->
    <textarea id="filename" style="display:none;"></textarea>

    <div id="debug"></div>

    <br />
    <p>You can print the music notation using this button. Please think of the trees!</p>

    <input type="button" class="filterButton" value="Print" 
        onclick="printDotsImage(document.getElementById('paper0').innerHTML)" />
    {% else %}
    <h2>No ABC found for this page!</h2>
    {% endif %}
</div>


<!-- Show errors -->
<div id='warnings'></div>

<script>
    $(document).ready(function() {
        
        {% if page.abc contains "K:" %}
        let tuneID = '1';
        let tuneABC = `{{ page.abc | br_to_newline }}`;
        
        document.getElementById('textAreaABC').innerHTML = `${tuneABC}`;

        // Set the filename for downloading
        document.getElementById("filename").innerHTML =
            slugify(getABCheaderValue("T:", tuneABC)) + '.abc';
        
        ABCplayer.innerHTML = createABCplayer("textAreaABC", tuneID, '{{ site.defaultABCplayer }}');

        abc_editor = new window.ABCJS.Editor("textAreaABC", { paper_id: "paper0", warnings_id:"warnings", 
                    render_options: {responsive: 'resize'}, indicate_changed: "true" });

        {% endif %}
    });
</script>
